HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.~lock.1er Informe.docx#
1er Informe.docx
diagrama.png
diagrama.puml
IMG-20260405-WA0000.jpg
IMG-20260331-WA0020.jpg
rangav.vscode-thunder-client-2.40.7.vsix
esquema.txt
.gitignore